# Tips for selecting columns

**Introduction**
In this notebook we are going to discuss several tips and shortcuts for using **iloc**  to work with a dataset which have lot of columns.Even if you have a good experience in **iloc** you should learn a couple of helpful trick that would be helpful for your analysis and avoid typing lot number of columns in your code.

# Why do we care selecting columns

In many standard data science examples,we have very few number of columns for example titanic has 8 iris has 4 and Boston housing 14.Real life datasets are messy have contain lot more number of columns which are actually not necessary.

In data science problems you may need to choose a subset of columns for one or more of the following reasons below

1.Filtering the dataset for the relavent columns which are necessary for the analysis which can decrease the memory footprint and speed the data processing.

2.Limiting the number of columns can reduce the mental overhead of keping the data model in your head.

3.When exploring a new dataset,it might be necessary to break to task into manageable chunks.

4.In some cases, you may need to loop through columns and perform calculations or cleanups in order to get the data in the format you need for further analysis.

5.Your data may contain which has duplicate information or which is not needed.

**THE DATA**
I'm going to use a quirky dataset from Central park of squirell census.Yes,apparently there was an effort to count and catalog sqirells.I thought this would be fun example to work.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(
    'https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD&bom=true&format=true'
)

In [2]:
df.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086),NaN,19,4,19,13
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,True,me,POINT (-73.9570437717691 40.794850940803904),NaN,19,4,19,13
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581),NaN,19,4,19,13
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755),NaN,19,4,19,13
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163),NaN,19,4,19,13

In [5]:
#to know number of columns and rows in the dataset i.e shape of the datset.
df.shape

(3023, 36)

In [6]:
df.describe(include='all')

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
count,3023.000000,3023.000000,3023,3023,3023,3.023000e+03,3023.000000,2902,2968,1937,...,3023,3023,3023,240,3023,9,3023.000000,3023.0,3023.000000,3023.000000
unique,NaN,NaN,3018,339,2,NaN,NaN,3,3,10,...,2,2,2,197,3023,4,NaN,NaN,NaN,NaN
top,NaN,NaN,4C-PM-1010-05,14D,PM,NaN,NaN,Adult,Gray,Cinnamon,...,False,False,False,runs from (dog),POINT (-73.9577212629651 40.7965525296722),"12,423",NaN,NaN,NaN,NaN
freq,NaN,NaN,2,32,1676,NaN,NaN,2568,2473,767,...,2845,1569,2345,9,1,4,NaN,NaN,NaN,NaN
mean,-73.967184,40.780853,NaN,NaN,NaN,1.011949e+07,4.123718,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.996030,4.0,19.070460,13.004631
std,0.007726,0.010285,NaN,NaN,NaN,4.246671e+04,3.096492,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.234339,0.0,1.352253,0.224224
min,-73.981159,40.764911,NaN,NaN,NaN,1.006202e+07,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.000000,4.0,19.000000,10.000000
25%,-73.973102,40.771676,NaN,NaN,NaN,1.008202e+07,2.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.000000,4.0,19.000000,13.000000
50%,-73.968594,40.778166,NaN,NaN,NaN,1.012202e+07,3.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.000000,4.0,19.000000,13.000000
75%,-73.960189,40.791219,NaN,NaN,NaN,1.014202e+07,6.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.000000,4.0,19.000000,13.000000
max,-73.949722,40.800119,NaN,NaN,NaN,1.020202e+07,23.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,4.0,51.000000,18.000000

sometimes it gets tricky to remember each columns and by its index.here is a simple list comprehension to build up a simple reference list of all the columns by its index.

In [20]:
col_mapping = [f"{c[0]}:{c[1]}" for c in enumerate(df.columns)]

In [22]:
col_mapping

['0:X',
 '1:Y',
 '2:Unique Squirrel ID',
 '3:Hectare',
 '4:Shift',
 '5:Date',
 '6:Hectare Squirrel Number',
 '7:Age',
 '8:Primary Fur Color',
 '9:Highlight Fur Color',
 '10:Combination of Primary and Highlight Color',
 '11:Color notes',
 '12:Location',
 '13:Above Ground Sighter Measurement',
 '14:Specific Location',
 '15:Running',
 '16:Chasing',
 '17:Climbing',
 '18:Eating',
 '19:Foraging',
 '20:Other Activities',
 '21:Kuks',
 '22:Quaas',
 '23:Moans',
 '24:Tail flags',
 '25:Tail twitches',
 '26:Approaches',
 '27:Indifferent',
 '28:Runs from',
 '29:Other Interactions',
 '30:Lat/Long',
 '31:Zip Codes',
 '32:Community Districts',
 '33:Borough Boundaries',
 '34:City Council Districts',
 '35:Police Precincts']

In some cases you might want to rename a bunch of column names,you can use comprehension dictionary to create a dictionary view of the data.

In [23]:
col_mapping_dict = {c[0]:c[1] for c in enumerate(df.columns)}

In [24]:
col_mapping_dict

{0: 'X',
 1: 'Y',
 2: 'Unique Squirrel ID',
 3: 'Hectare',
 4: 'Shift',
 5: 'Date',
 6: 'Hectare Squirrel Number',
 7: 'Age',
 8: 'Primary Fur Color',
 9: 'Highlight Fur Color',
 10: 'Combination of Primary and Highlight Color',
 11: 'Color notes',
 12: 'Location',
 13: 'Above Ground Sighter Measurement',
 14: 'Specific Location',
 15: 'Running',
 16: 'Chasing',
 17: 'Climbing',
 18: 'Eating',
 19: 'Foraging',
 20: 'Other Activities',
 21: 'Kuks',
 22: 'Quaas',
 23: 'Moans',
 24: 'Tail flags',
 25: 'Tail twitches',
 26: 'Approaches',
 27: 'Indifferent',
 28: 'Runs from',
 29: 'Other Interactions',
 30: 'Lat/Long',
 31: 'Zip Codes',
 32: 'Community Districts',
 33: 'Borough Boundaries',
 34: 'City Council Districts',
 35: 'Police Precincts'}

Here is a quick example with this data set. Note that we pass in the sep to parse a tab delimited string:

In [30]:
df_cols = pd.read_clipboard(sep='\t')
col_mapping = {c[1]:'' for c in enumerate(df_cols.columns)}

As an added bonus, you could even use an Excel file to set up the column renaming and automate the whole process. That tip is outside the scope of this article.

# Using iloc

the primary fuction we will walk through is iloc which is used for integer location based indexing.may be slightly confused because iloc and loc can take a boolean-array which leads to more powerful indexing. Since both functions can take a boolean array as input, there are times when these functions produce the same output. However, for the scope of this post, I will focus only on iloc column selection.

In [32]:
#for instance if you want to see the total date column.
df.iloc[:,5]

0       10142018
1       10062018
2       10102018
3       10182018
4       10182018
5       10192018
6       10202018
7       10132018
8       10082018
9       10172018
10      10172018
11      10102018
12      10102018
13      10082018
14      10062018
15      10102018
16      10132018
17      10072018
18      10102018
19      10062018
20      10182018
21      10082018
22      10132018
23      10082018
24      10072018
25      10082018
26      10132018
27      10082018
28      10132018
29      10132018
          ...
2993    10102018
2994    10072018
2995    10082018
2996    10132018
2997    10072018
2998    10102018
2999    10122018
3000    10072018
3001    10202018
3002    10072018
3003    10072018
3004    10072018
3005    10102018
3006    10172018
3007    10142018
3008    10082018
3009    10142018
3010    10122018
3011    10132018
3012    10142018
3013    10182018
3014    10102018
3015    10202018
3016    10192018
3017    10182018
3018    10072018
3019    10132018
3020    10122018
3021    10102018
3022    10122018
Name: Date, Length: 3023, dtype: int64

In [35]:
#for instance if you want to see specific rows of date column
df.iloc[1:6,5]

1    10062018
2    10102018
3    10182018
4    10182018
5    10192018
Name: Date, dtype: int64

In [36]:
#if want to view x and y location with the ID.you can pass in a list of integers[1,2,3]
df.iloc[:,[0,1,2]]

              X          Y Unique Squirrel ID
0    -73.956134  40.794082     37F-PM-1014-03
1    -73.957044  40.794851     37E-PM-1006-03
2    -73.976831  40.766718      2E-AM-1010-03
3    -73.975725  40.769703      5D-PM-1018-05
4    -73.959313  40.797533     39B-AM-1018-01
5    -73.956570  40.790256     33H-AM-1019-02
6    -73.971974  40.769305      6G-PM-1020-02
7    -73.960261  40.794288     35C-PM-1013-03
8    -73.977072  40.772975      7B-AM-1008-09
9    -73.959641  40.790313     32E-PM-1017-14
10   -73.970268  40.776213     13E-AM-1017-05
11   -73.968361  40.772591     11H-AM-1010-03
12   -73.954120  40.793181     36H-AM-1010-02
13   -73.958269  40.791737     33F-AM-1008-02
14   -73.967429  40.782972     21C-PM-1006-01
15   -73.972250  40.774288     11D-AM-1010-03
16   -73.969506  40.782351     20B-PM-1013-05
17   -73.953217  40.791967     36I-PM-1007-01
18   -73.976860  40.770280      5C-PM-1010-09
19   -73.970611  40.769812      7H-AM-1006-05
20   -73.970378  40.778753     16C-PM-1018-03
21   -73.970393  40.776503     14E-AM-1008-23
22   -73.963818  40.792417     32A-PM-1013-03
23   -73.958407  40.791381     33F-AM-1008-01
24   -73.967113  40.778486     17F-AM-1007-07
25   -73.964987  40.776493     16I-AM-1008-01
26   -73.967063  40.773499     12I-AM-1013-01
27   -73.958737  40.790852     32F-PM-1008-07
28   -73.967179  40.786735     25A-AM-1013-04
29   -73.969294  40.776954     15E-AM-1013-01
...         ...        ...                ...
2993 -73.961721  40.792284     33B-AM-1010-01
2994 -73.966844  40.787078     25B-PM-1007-01
2995 -73.970033  40.777259     15E-PM-1008-08
2996 -73.961974  40.794467     35A-PM-1013-01
2997 -73.975208  40.775538     11B-AM-1007-01
2998 -73.972415  40.773080     10E-AM-1010-02
2999 -73.968829  40.773896     12G-AM-1012-04
3000 -73.977559  40.766849      1D-PM-1007-01
3001 -73.971099  40.768983      6H-PM-1020-01
3002 -73.969866  40.774000     12F-PM-1007-09
3003 -73.952848  40.792206     36I-PM-1007-08
3004 -73.961614  40.792180     33C-PM-1007-04
3005 -73.974439  40.766317      2G-AM-1010-02
3006 -73.963514  40.791281     31B-AM-1017-01
3007 -73.950353  40.797654     42H-PM-1014-04
3008 -73.967564  40.782388     21D-PM-1008-02
3009 -73.958091  40.794840     37D-PM-1014-01
3010 -73.967883  40.784761     23B-PM-1012-06
3011 -73.961370  40.794336     35B-PM-1013-04
3012 -73.964661  40.776979     17I-AM-1014-03
3013 -73.966557  40.780435     19E-PM-1018-04
3014 -73.975916  40.773618      9B-AM-1010-08
3015 -73.975646  40.770356      6D-PM-1020-02
3016 -73.966290  40.784330     23C-AM-1019-01
3017 -73.964544  40.781160     21F-PM-1018-02
3018 -73.963943  40.790868     30B-AM-1007-04
3019 -73.970402  40.782560     19A-PM-1013-05
3020 -73.966587  40.783678     22D-PM-1012-07
3021 -73.963994  40.789915     29B-PM-1010-02
3022 -73.975479  40.769640      5E-PM-1012-01

[3023 rows x 3 columns]

In [40]:
#if you want to view specific range of rows and specific columns
df.iloc[:5,[0,1,2]]

           X          Y Unique Squirrel ID
0 -73.956134  40.794082     37F-PM-1014-03
1 -73.957044  40.794851     37E-PM-1006-03
2 -73.976831  40.766718      2E-AM-1010-03
3 -73.975725  40.769703      5D-PM-1018-05
4 -73.959313  40.797533     39B-AM-1018-01

In [41]:
df.iloc[[1,2,3,4,7],[0,1,2]]

           X          Y Unique Squirrel ID
1 -73.957044  40.794851     37E-PM-1006-03
2 -73.976831  40.766718      2E-AM-1010-03
3 -73.975725  40.769703      5D-PM-1018-05
4 -73.959313  40.797533     39B-AM-1018-01
7 -73.960261  40.794288     35C-PM-1013-03

In [46]:
#Typing all the columns is not the most efficient, so we can use slicing notation to make this a little easier to understand:
df.iloc[1:3,0:35]

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long,Zip Codes,Community Districts,Borough Boundaries,City Council Districts
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904),NaN,19,4,19
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581),NaN,19,4,19

If you have some experience with python lists, and have used pandas a bit; all of this usage should make sense. These points are pandas 101 concepts but we will build up from here.

While both of these approaches are straightforward, what if you want to combine the list of integers with the slice notation? You might try something like this:

In [47]:
df.iloc[:,[0:3,14:30]]

SyntaxError: invalid syntax (<ipython-input-47-5b41935eddb9>, line 1)

In [48]:
#Or, you could try something like this:

df.iloc[:, 0:3,15:19]

IndexingError: Too many indexers

hmmmm,thats obvious that doesnt work it seems that it would be useful for selecting ranges and individual columns

Fortunately there is a numpy object that can help us out. The r_ object will “Translate slice objects to concatenation along the first axis.” It might not make much sense from the documentation but it does exactly what we need.

Here’s a slightly more elaborate example to show how it works on a combination of individual list items and sliced ranges:

In [49]:
import numpy as np

In [51]:
np.r_[]

array([ 0,  1,  2,  5,  6,  7,  8,  9, 10, 11, 13, 14])

thats kind of cool...the object has converted the combination of integers list and slice notation into a single list which we can pass to iloc

In [52]:
df.iloc[:,np.r_[0:3,5:12]]

,X,Y,Unique Squirrel ID,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,Combination of Primary and Highlight Color,Color notes
0,-73.956134,40.794082,37F-PM-1014-03,10142018,3,NaN,NaN,NaN,+,NaN
1,-73.957044,40.794851,37E-PM-1006-03,10062018,3,Adult,Gray,Cinnamon,Gray+Cinnamon,NaN
2,-73.976831,40.766718,2E-AM-1010-03,10102018,3,Adult,Cinnamon,NaN,Cinnamon+,NaN
3,-73.975725,40.769703,5D-PM-1018-05,10182018,5,Juvenile,Gray,NaN,Gray+,NaN
4,-73.959313,40.797533,39B-AM-1018-01,10182018,1,NaN,NaN,NaN,+,NaN
5,-73.956570,40.790256,33H-AM-1019-02,10192018,2,Juvenile,Gray,Cinnamon,Gray+Cinnamon,NaN
6,-73.971974,40.769305,6G-PM-1020-02,10202018,2,Adult,Gray,NaN,Gray+,NaN
7,-73.960261,40.794288,35C-PM-1013-03,10132018,3,NaN,Gray,Cinnamon,Gray+Cinnamon,NaN
8,-73.977072,40.772975,7B-AM-1008-09,10082018,9,Adult,Gray,NaN,Gray+,NaN
9,-73.959641,40.790313,32E-PM-1017-14,10172018,14,Adult,Gray,NaN,Gray+,Nothing selected as Primary. Gray selected as ...
10,-73.970268,40.776213,13E-AM-1017-05,10172018,5,Adult,Gray,Cinnamon,Gray+Cinnamon,NaN
11,-73.968361,40.772591,11H-AM-1010-03,10102018,3,Adult,Cinnamon,White,Cinnamon+White,NaN
12,-73.954120,40.793181,36H-AM-1010-02,10102018,2,Adult,Gray,NaN,Gray+,just outside hectare
13,-73.958269,40.791737,33F-AM-1008-02,10082018,2,Adult,Gray,NaN,Gray+,NaN
14,-73.967429,40.782972,21C-PM-1006-01,10062018,1,Adult,Gray,NaN,Gray+,NaN
15,-73.972250,40.774288,11D-AM-1010-03,10102018,3,Adult,Gray,Cinnamon,Gray+Cinnamon,NaN
16,-73.969506,40.782351,20B-PM-1013-05,10132018,5,Adult,Gray,White,Gray+White,NaN
17,-73.953217,40.791967,36I-PM-1007-01,10072018,1,Adult,Gray,Cinnamon,Gray+Cinnamon,NaN
18,-73.976860,40.770280,5C-PM-1010-09,10102018,9,Adult,Cinnamon,Gray,Cinnamon+Gray,NaN
19,-73.970611,40.769812,7H-AM-1006-05,10062018,5,Adult,Gray,Cinnamon,Gray+Cinnamon,NaN
20,-73.970378,40.778753,16C-PM-1018-03,10182018,3,Adult,Gray,"Cinnamon, White","Gray+Cinnamon, White",NaN
21,-73.970393,40.776503,14E-AM-1008-23,10082018,23,Adult,Gray,NaN,Gray+,NaN
22,-73.963818,40.792417,32A-PM-1013-03,10132018,3,Juvenile,Gray,Cinnamon,Gray+Cinnamon,NaN
23,-73.958407,40.791381,33F-AM-1008-01,10082018,1,Adult,Gray,NaN,Gray+,NaN
24,-73.967113,40.778486,17F-AM-1007-07,10072018,7,Adult,Gray,White,Gray+White,NaN
25,-73.964987,40.776493,16I-AM-1008-01,10082018,1,Adult,Cinnamon,"Gray, White","Cinnamon+Gray, White",NaN
26,-73.967063,40.773499,12I-AM-1013-01,10132018,1,Adult,Cinnamon,White,Cinnamon+White,NaN
27,-73.958737,40.790852,32F-PM-1008-07,10082018,7,Adult,Gray,NaN,Gray+,NaN
28,-73.967179,40.786735,25A-AM-1013-04,10132018,4,NaN,Gray,White,Gray+White,NaN
29,-73.969294,40.776954,15E-AM-1013-01,10132018,1,Adult,Gray,White,Gray+White,NaN
...,...,...,...,...,...,...,...,...,...,...
2993,-73.961721,40.792284,33B-AM-1010-01,10102018,1,Adult,Gray,NaN,Gray+,NaN
2994,-73.966844,40.787078,25B-PM-1007-01,10072018,1,NaN,Gray,Cinnamon,Gray+Cinnamon,NaN
2995,-73.970033,40.777259,15E-PM-1008-08,10082018,8,Adult,Gray,NaN,Gray+,NaN
2996,-73.961974,40.794467,35A-PM-1013-01,10132018,1,Adult,Gray,White,Gray+White,NaN
2997,-73.975208,40.775538,11B-AM-1007-01,10072018,1,Adult,Cinnamon,Gray,Cinnamon+Gray,NaN
2998,-73.972415,40.773080,10E-AM-1010-02,10102018,2,Adult,Black,Gray,Black+Gray,NaN
2999,-73.968829,40.773896,12G-AM-1012-04,10122018,4,Adult,Gray,"Cinnamon, White","Gray+Cinnamon, White",NaN
3000,-73.977559,40.766849,1D-PM-1007-01,10072018,1,Adult,Gray,"Cinnamon, White","Gray+Cinnamon, White",NaN
3001,-73.971099,40.768983,6H-PM-1020-01,10202018,1,Adult,Gray,"Cinnamon, White","Gray+Cinnamon, White",NaN
3002,-73.969866,40.774000,12F-PM-1007-09,10072018,9,Adult,Cinnamon,Gray,Cinnamon+Gray,NaN
3003,-73.952848,40.792206,36I-PM-1007-08,10072018,8,Juvenile,Cinnamon,Gray,Cinnamon+Gray,NaN
3004,-73.961614,40.792180,33C-PM-1007-04,10072018,4,Adult,Gray,White,Gray+White,NaN
3005,-73.974439,40.766317,2G-AM-1010-02,10102018,2,Adult,Gray,NaN,Gray+,NaN
3006,-73.963514,40.791281,31B-AM-1017-01,10172018,1,Adult,Gray,NaN,Gray+,NaN
3007,-73.950353,40.797654,42H-PM-1014-04,10142018,4,Adult,Gray,Cinnamon,Gray+Cinnamon,NaN
3008,-73.967564,40.782388,21D-PM-1008-02,10082018,2,NaN,Gray,White,Gray+White,NaN
3009,-73.958091,40.794840,37D-PM-1014-01,10142018,1,Adult,Gray,Cinnamon,Gray+Cinnamon,NaN
3010,-73.967883,40.784761,23B-PM-1012-06,10122018,6,Adult,Gray,NaN,Gray+,NaN
3011,-73.961370,40.794336,35B-PM-1013-04,10132018,4,Adult,Gray,NaN,Gray+,NaN
3012,-73.964661,40.776979,17I-AM-1014-03,10142018,3,Adult,Gray,"Cinnamon, White","Gray+Cinnamon, White",Cinnamon face
3013,-73.966557,40.780435,19E-PM-1018-04,10182018,4,NaN,Gray,NaN,Gray+,NaN
3014,-73.975916,40.773618,9B-AM-1010-08,10102018,8,Adult,Gray,"Cinnamon, White","Gray+Cinnamon, White","Cinnamon head, White (Almost Silver)"
3015,-73.975646,40.770356,6D-PM-1020-02,10202018,2,Juvenile,Gray,NaN,Gray+,NaN
3016,-73.966290,40.784330,23C-AM-1019-01,10192018,1,Adult,Gray,"Cinnamon, White","Gray+Cinnamon, White","Gray & Cinnamon selected as Primary. Gray, Cin..."
3017,-73.964544,40.781160,21F-PM-1018-02,10182018,2,Juvenile,Cinnamon,Gray,Cinnamon+Gray,NaN
3018,-73.963943,40.790868,30B-AM-1007-04,10072018,4,Adult,Gray,NaN,Gray+,NaN
3019,-73.970402,40.782560,19A-PM-1013-05,10132018,5,Adult,Gray,White,Gray+White,NaN
3020,-73.966587,40.783678,22D-PM-1012-07,10122018,7,Adult,Gray,"Black, Cinnamon, White","Gray+Black, Cinnamon, White",NaN
3021,-73.963994,40.789915,29B-PM-1010-02,10102018,2,NaN,Gray,"Cinnamon, White","Gray+Cinnamon, White",NaN
3022,-73.975479,40.769640,5E-PM-1012-01,10122018,1,Adult,Cinnamon,"Gray, White","Cinnamon+Gray, White",NaN

In [53]:
#here is an another tip which we cn use this notation while reading the csv files
df_2 = pd.read_csv(
    'https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD&bom=true&format=true',
    usecols=np.r_[1,2,5:8,15:30],
)

In [55]:
df_2.head()

,Y,Unique Squirrel ID,Date,Hectare Squirrel Number,Age,Running,Chasing,Climbing,Eating,Foraging,Other Activities,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions
0,40.794082,37F-PM-1014-03,10142018,3,NaN,False,False,False,False,False,NaN,False,False,False,False,False,False,False,False,NaN
1,40.794851,37E-PM-1006-03,10062018,3,Adult,True,False,False,False,False,NaN,False,False,False,False,False,False,False,True,me
2,40.766718,2E-AM-1010-03,10102018,3,Adult,False,False,True,False,False,NaN,False,False,False,False,False,False,True,False,NaN
3,40.769703,5D-PM-1018-05,10182018,5,Juvenile,False,False,True,False,False,NaN,False,False,False,False,False,False,False,True,NaN
4,40.797533,39B-AM-1018-01,10182018,1,NaN,False,False,False,False,False,unknown,True,False,False,False,False,False,False,False,NaN

I find this notation helpful when you have a data set where you want to keep non-sequential columns and do not want to type out the full names of all the columns.

One caveat I would make is that you need to be careful when using the slice notation and keep in mind that the last number in the range will not be included in the generated list of numbers.

For example, if we specify the range 2:4 , we only get a list of 2 and 3:

In [56]:
np.r_[2:4]

array([2, 3])

one final comment on **np.r** is that there is a optional step argument.we can specify that this should increment by 2_

In [60]:
np.r_[2:13:2]

array([ 2,  4,  6,  8, 10, 12])

# using iloc and boolean array

One of the most powerful ways to filter columns is to pass a boolean array to iloc to select a subset of columns. This sounds a little complex but a couple of examples should make this understandable.

The most important concept is that we don’t generate a boolean array by hand but use the output from another pandas function to generate the array and feed it to iloc .

In this case, we can use the str accessor on a column index just like any other column of pandas data. This will generate the necessary boolean array that iloc expects. An example should help make this clear.

If we want to see which columns contain the word “run”:

In [61]:
run_cols = df.columns.str.contains('run',case= False)

In [62]:
run_cols

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False])

In [65]:
df.iloc[:,run_cols].head()

   Running  Runs from
0    False      False
1     True       True
2    False      False
3    False       True
4    False      False

# In practice, many people will use a lambda function to do this in one line:

In [66]:
df.iloc[:,lambda df:df.columns.str.contains('run',case=False)]

      Running  Runs from
0       False      False
1        True       True
2       False      False
3       False       True
4       False      False
5       False      False
6        True      False
7       False       True
8       False      False
9       False       True
10      False      False
11      False      False
12      False      False
13      False      False
14      False      False
15      False      False
16      False      False
17      False      False
18       True      False
19      False      False
20       True      False
21      False      False
22      False      False
23      False      False
24       True      False
25      False      False
26      False       True
27       True      False
28      False       True
29       True      False
...       ...        ...
2993    False      False
2994    False      False
2995    False      False
2996    False       True
2997     True      False
2998     True      False
2999    False      False
3000    False      False
3001    False      False
3002     True      False
3003    False      False
3004    False       True
3005    False      False
3006    False      False
3007     True       True
3008    False      False
3009    False       True
3010    False      False
3011     True       True
3012    False      False
3013    False      False
3014    False      False
3015    False       True
3016    False      False
3017    False       True
3018    False       True
3019    False      False
3020    False      False
3021    False      False
3022    False      False

[3023 rows x 2 columns]

# The benefits of using str functions are that you can get sophisticated with the potential filter options. For instance, if we want all the columns with “district,” “precinct” or “boundaries” in the name:

In [68]:
df.iloc[:,lambda df:df.columns.str.contains('precinct|districts|boundaries',case=False)].head()

,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,19,4,19,13
1,19,4,19,13
2,19,4,19,13
3,19,4,19,13
4,19,4,19,13

We can even combine all these concepts together by using the results of the boolean array to get the index then use np.r_ to combine these lists together.

Here is an example where we want to get all the location related columns as well as the squirrel ID into a DataFrame:

In [72]:
location_cols = df.columns.str.contains('precinct|districts|boundaries',case=False)
location_indices = [i for i, col in enumerate(location_cols) if col]
df.iloc[:,np.r_[0:3,location_indices]].head()

,X,Y,Unique Squirrel ID,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,-73.956134,40.794082,37F-PM-1014-03,19,4,19,13
1,-73.957044,40.794851,37E-PM-1006-03,19,4,19,13
2,-73.976831,40.766718,2E-AM-1010-03,19,4,19,13
3,-73.975725,40.769703,5D-PM-1018-05,19,4,19,13
4,-73.959313,40.797533,39B-AM-1018-01,19,4,19,13

# This code is a little complicated since we are using a conditional list comprehension and might be overkill for selecting 7 columns. The important concept is that you know it is possible and can refer back to this article when you need it for your own analysis.